.vs/
*/.vs/
obj/
*/obj/
bin/
*/bin/
appsettings.json
*/appsettings.json
Properties/
*/Properties
Migrations/
*/Migrations/
*/public/
*/*/public/
node_modules/
*/node_modules/
*/*/node_modules/
.vscode/
*/.vscode/
.idea/
*/.idea/
.angular/
*/./angular/
.git/
*/.git/
.editorconfig
*/.editorconfig
LibraryOfTroyApi/LibraryOfTroyApi.csproj.user
LibraryOfTroyApi/appsettings.Development.json
LibraryOfTroyApi/.gitignore
LibraryOfTroyApi/setup.ps1
LibraryOfTroySetup/
LibraryOfTroyWeb/.gitignore
LibraryOfTroyWeb/angular.json
LibraryOfTroyWeb/package-lock.json
LibraryOfTroyWeb/package.json
LibraryOfTroyWeb/README.md
LibraryOfTroyWeb/tsconfig.app.json
LibraryOfTroyWeb/tsconfig.json
LibraryOfTroyWeb/tsconfig.spec.jso
*.map
*/*.map
StableSwarmWrapper/
SwarmTest/