@use "../../../styles.scss" as styles;

:host {
  .search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-around;
  }

  .search-child-input {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    align-self: auto;
    order: 0;
  }

  .search-child-tip {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    align-self: auto;
    order: 0;

    p {
      font-family: "IBM Plex Sans", "Roboto", sans-serif;
      font-weight: 400;
      font-size: 1.0em;
      text-align: center;
      color: styles.$color_hints_fg;
    }
  }

  .custom_input {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 100%;
  }

  .input {
    font-size: 1.6em;
    font-weight: bold;
    padding: 5px 10px;
    width: 100%;
    padding-left: 35px;
    outline: none;
    background: #FFFFFF;
    color: #292F56;
    border: 3px double #C4D1EB;
    border-radius: 8px;
    box-shadow: 5px 4px 8px 2px #E2E2E2;
    transition: .3s ease;

    &.searching {
      background: #F8F8F8;
      color: #292F56;
      border-color: rgba(196, 209, 235, 0.5);
    }
  }

  .input:focus {
    background: #F2F2F2;
    border: 3px solid #5A7EC7;
    border-radius: 10px;
  }

  .input::placeholder {
    color: #292F5677;
  }

  .svg_icon {
    position: absolute;
    left: 10px;
    fill: #4660DC;
    width: 18px;
    height: 18px;
  }

  .search-spinner {
    position: absolute;
    right: 12px;
    width: 24px;
    height: 24px;

    svg {
      animation: rotate 1.5s linear infinite;
    }

    .spinner-path {
      animation: dash 1.5s ease-in-out infinite;
    }
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
}
